@font-face { font-family: HelvetiHand; src: url('../assets/HelvetiHand.ttf'); }
body{
    background-color: #eae0c8;
    text-align:center;
}
.floater {
    position: fixed;
    font-family: HelvetiHand;
}
.floaterNE{
    top: 12px;
    right: 25px;
}
.floater span {
    text-align: right;
    float: right;
    background-color: white;
    padding: 7px;
    line-height: 1.4;
    margin: 8px 15px 8px 0;
}
.floater img {
    left: 0px;
    height: 56px;
    float: right;
    margin: 0px 5px;
}
.window{
    background-color: #fffaf0;
    outline-style:solid;
    height:600px;
    max-width:95%;
    width:600px;
    text-align:left;
    outline-width:1px;
    margin: 0 auto;
    position:relative;
    resize: both;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(112,112,112,1);
    -moz-box-shadow: 4px 4px 10px 0px rgba(112,112,112,1);
    box-shadow: 4px 4px 10px 0px rgba(112,112,112,1);
}
.box{
    margin: 10px;
    padding-left:10px;
    height:80%;
    outline-style:solid;
    outline-width:1px;
    overflow-y: scroll;
    background-color: #fffafa;
    display: flex;
    flex-direction: column-reverse;
}
.menu{
    margin: 0 10px;
    height:10%;
    outline-width:1px;
    text-align:center;
}
.header{
    cursor:move;
    outline-width:1px;
    padding:2px;
    text-align:center;
    background-color: #e9e4d9;
}
.time{
    font-family: "Courier New", Courier, monospace;
}
/*  ~ ~ ~ switch ~ ~ ~ */

@media screen and (max-width: 800px) { /*768px*/
    .window{
        position:fixed;
        top:80px;
        left:0;
        right:0;
        margin: auto;
    }
}